
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/man.css" />
		<title>ManPages</title>
	</head>
	<body>
		<div class="pichome">
			<div class='center'>
				<img class='manpage' src='/images/manpage.jpg' alt='ManPage' />
				</div>
			<div>
				<a class="float" href="/">Home Page</a>
			</div>
		</div>

			<nav class="divs">
				<a href="/mv">mv</a>
				<a href="/dir">dir</a>
				<a href="/ls">ls</a>
				<a href="/cd">cp</a>
				<a href="/mkdir">mkdir</a>
				<a href="/find">find</a>
			</nav>


		<%= yield %>
		<hr />
		<footer>
			<h3>
				This page is sponsered by your friendly computer!
			</h3>
		</footer>
	</body>
</html>